

@import '../../../../styles/more-or-less-colours.scss';

// @import "../../more-or-less.scss";
// https://coryrylan.com/blog/sass-and-css-import-performance-in-angular

.gradient_min1 {
  stop-color: $range-marker-gradientmin1;
}

.gradient_min2 {
  stop-color: $range-marker-gradientmin2;
}

.gradient_min3 {
  stop-color: $range-marker-gradientmin3;
}

.gradient_min4 {
  stop-color: $range-marker-gradientmin4;
}


.gradient_max1 {
  stop-color: $range-marker-gradientmax1;
}

.gradient_max2 {
  stop-color: $range-marker-gradientmax2;
}

.gradient_max3 {
  stop-color: $range-marker-gradientmax3;
}

.gradient_max4 {
  stop-color: $range-marker-gradientmax4;
}




.bar {
  stroke: rgb(0,0,0);
  stroke-width: 0.3;
  fill: rgb(0,0,255);
}

#perimeter {
  stroke-width: 1.0;  
  stroke: $range-selector-background-stroke-color;
  fill: $range-selector-background-fill-color;
}


#slider {
  stroke-width: 0.3;
  stroke: $range-selector-slider-stroke-color;
  fill: $range-selector-slider-fill-color;
}


.label {
  stroke-width: 0.3;  
  stroke: $range-selector-label-stroke-color;
  fill: $range-selector-label-fill-color;
}




