<!-- Add a comment here  
 

<div *ngIf="countdown$ | async as countdown">

  <p>{{ countdown.minutes }}:{{ countdown.seconds }}</p>

</div>-->

<div  style="position: absolute;  top:0px; left: 0px; z-index: 1"  >      
  <img  src="assets/images/StopWatch.png" alt='image'
        style="height:100%; width: 100%">    
</div>  

<div  style="position: absolute; top:0px; left: 0px" >
  <!-- preserveAspectRatio="none"  -->
  <svg height="100%" width="100%" [attr.viewBox.]="getViewbox()" >

    <!-- just mark the outside for debugging  
    <rect id="outside" x="0" y="0" 
    [attr.width.]="controlWidth" [attr.height.]="controlHeight" /> -->

  <!-- outline  --> 
    <path id="outline" [attr.d.]="getOutlinePath()" 
        [attr.stroke-width.]="strokeWidthOutline"         />  

    <path id="top" [attr.d.]="getTopPath()" 
        [attr.stroke-width.]="strokeWidthRemaining"         />  

    <path id="bottom" [attr.d.]="getBottomPath()" 
        [attr.stroke-width.]="strokeWidthRemaining"         />  

    <!-- Grey outline 
    <path id="outline" [attr.d.]="getOutlinePath()" 
        [attr.stroke-width.]="strokeWidthOutline"         />  -->  

    <!-- Remaining total
    <path id="remainingTotal" [attr.d.]="getRemainingTotalPath()"
    [attr.stroke-width.]="strokeWidthRemaining"  />   --> 

    <!-- Remaining question 
    <path id="remainingQuestion" [attr.d.]="getRemainingQuestionPath()"
    [attr.stroke-width.]="strokeWidthRemaining"  />   --> 
  </svg> 
</div>

