


@import '../../../styles/more-or-less-colours.scss';

.gradient_min1 {
  stop-color: $range-marker-gradientmin1;
}

.gradient_min2 {
  stop-color: $range-marker-gradientmin2;
}

.gradient_min3 {
  stop-color: $range-marker-gradientmin3;
}

.gradient_min4 {
  stop-color: $range-marker-gradientmin4;
}


.gradient_max1 {
  stop-color: $range-marker-gradientmax1;
}

.gradient_max2 {
  stop-color: $range-marker-gradientmax2;
}

.gradient_max3 {
  stop-color: $range-marker-gradientmax3;
}

.gradient_max4 {
  stop-color: $range-marker-gradientmax4;
}
