// The place where the color scheme for MoR is defined


//@import "../../../styles.scss";
// 

$score-background-color: rgb(255, 255, 255);
$score-border-color: rgb(234, 24, 129);

$message-background-color: rgb(209, 106, 106);

/*
$range-selector-slider-fill-color: #bcd144;
$range-selector-slider-stroke-color: #0e1553;
*/

$range-selector-ball-fill-color: #bcd144;
$range-selector-ball-stroke-color: #0e1553;

$range-selector-minmax-fill-color: #bcd144;
$range-selector-minmax-stroke-color: #0e1553;


$range-marker-gradient1: #ffffff;
$range-marker-gradient2: #ffc040;
$range-marker-gradient3: #ff8040;
$range-marker-gradient4: #000000;
/*
$range-marker-gradient1: #ffffff;
$range-marker-gradient2: #4d40ff;
$range-marker-gradient3: #ff40a6;
$range-marker-gradient4: #000000;
*/




 