
<div *ngIf="(isConnected === true); else elseBlock">

  <div *ngIf="isActivePage('Online_Dormant')">
    <app-dormant-page [vizData]="vizData"   ></app-dormant-page>
  </div>

  <div *ngIf="isActivePage('Online_Demo')">
    <app-demo-page [vizData]="vizData"   ></app-demo-page>
  </div>
  
  <div *ngIf="isActivePage('Online_Ready')">
    <app-intro-page [vizData]="vizData" ></app-intro-page>
  </div>

  <div *ngIf="isActivePage('Authenticating')">
    <app-authentication-page [vizData]="vizData"   ></app-authentication-page>
  </div>

  <div *ngIf="isActivePage('PreGame')">
    <app-pregame-page    [vizData]="vizData"></app-pregame-page>
  </div>

  <div *ngIf="isActivePage('GamePlaying')">
    <app-playing-page [vizData]="vizData"></app-playing-page>
  </div>

  <div *ngIf="isActivePage('PostGame')">
    <app-final-page [vizData]="vizData"></app-final-page>
  </div>
 
</div>

<ng-template #elseBlock><p>
  There doesn't appear to be a connection to the game....
</p></ng-template>

<p class="dev">Build timestamp: {{getBuildTimeStamp()}}</p>

<div class="dev">
  {{vizData | json}}
</div>




