


@import '../../../styles/more-or-less-colours.scss';

#scoreWrapper {
  display: flex;  
  flex-direction: row;
  width:90vw;  
}

#scoreValue {
  width:10vw; 
  background-color: $score-background-color;
  border-radius: 1vw;
  border: 3px solid $score-border-color;
}

.placeoverWrapper {
  position: relative;
}

#placeover {
  position: absolute;
  top: 0;
  left: 0;
} 