
<div id="finalWrapper">

  <div id="more-or-lessBanner"  >
    <img id="more-or-lessBannerImg" src='assets/images/more-or-less-banner-logo.svg' alt='image'>
  </div>

  <app-score 
    [score]="vizData.score" 
    style="font-size: 5vw; margin:auto; height: 15vh;" >
  </app-score>  

  

  <app-flourish-text   > 
    <div style="height: 25vh"  >
      {{getScoreCommentary()}}
    </div>
  </app-flourish-text>  

<!--
  <div style="height: 25vh">

    {{getScoreCommentary()}}

  </div>  -->

  <div style="height: 5vh; width: 90vw;">
    <app-countdown  [totalSecs]="vizData.totalGameSecs" 
                    [remainingSecs]="vizData.remainingSecs" 
                    [remainingQuestionSecs]="vizData.remainingQuestionSecs"  >
    </app-countdown>    
  </div>
  
</div>



