
//@import '../../../styles.scss';


@import '../../styles/general-colours.scss';

.messageText {
  border-radius: 20px;
  background: $message-background-color;
  max-width: 80vw;
 // align-self: flex-end;
  padding: 2vh;
  font-size: 3vh;
  margin: 1vh;
}