// The place where the color scheme for the non-game parts of the app


$body-background-color: #ffffff;
$banner-background-color: #0c0d3a;



$message-background-color: rgb(209, 106, 106);



$countdown-outline-stroke-color: grey;
$countdown-outline-fill-color: #d6f4ff;
$countdown-remaining-stroke-color: rgb(0,0,0);
$countdown-remaining-fill-color: #7fb0e1;
$countdown-question-stroke-color: rgb(0,0,0);
$countdown-question-fill-color: #5d7a98;

