

@import "../range-selector.component.scss";



.potentialScore {
  stroke-width:5;
 // fill:rgb(224, 221, 55);
 // stroke:rgb(0,0,0);
}

.potentialScoreText {
  font: 0.30vh sans-serif; 
  stroke: black;
  stroke-width: 0.2;
}
