
@import "../range-selector.component.scss";




.label {
  stroke: black;
 // stroke-width: 0.3;
  fill: lightblue;
}

.labelText {
  font: bold 0.30vh sans-serif;
  stroke: black;
  stroke-width: 0.1;
}


