  <!-- xxx
<div id="introWrapper">

  <div id="more-or-lessBanner"  >
    <img id="more-or-lessBannerImg" src='assets/images/more-or-less-banner-logo.svg' alt='image'>
  </div>
 
  <div style="font-family: 'Vast Shadow';padding:0vh; position:relative; width:100%; height:10vh">
    
    <app-corrie-text text="A quiz game for those who... just aren't sure"   
      vbHeight="5" vbWidth="100" 
      radius="1"  strokeWidth="0.6" strokeColour="#000" fillColour="#fff"
      fontSize="0.15" fontSizeUnit="vw"  >          
    </app-corrie-text>
  </div>  
 
</div>
 xxx  -->


<img src="{{imageSourcePath}}"   width="100%" height="auto">




