

<div ngClass="container" >

  <!-- 
  <app-header></app-header>
  <alert></alert>
   -->
  <!--Content-->
  


<p ngClass="text"  >
  A convenient place to test the VIZ styling:
</p>


<app-countdown-clock style="width:50px; height:100px; display: block; position:relative" 
    [totalSecs]="20"    [remainingSecs]="23" >
</app-countdown-clock>



<app-movie-text>
  "As for Dr Frankenstein, we<br>
  <span style="padding-left:100px">believed him murdered by the </span><br>
  <span style="padding-right:110px">very monster he created, </span><br>
  <span style="padding-left:-20px">but a body was never found."</span>   
</app-movie-text>


<!--
<app-flourish-text flourishStyle="cogsSml.svg">
  <div>Some text for small</div>
</app-flourish-text>

<app-flourish-text flourishStyle="cogsMed.svg">
  <div>Some text for medium</div>
</app-flourish-text>

<app-flourish-text flourishStyle="cogs.svg">
  <div>Some text for large</div>
</app-flourish-text>
  -->

<!-- 
<div style="height:60vh">

  <div style="height:10vh" >
    <app-frame-text    fillType="checkerplate"
      radius="1"  strokeWidth="0.6" strokeColour="#000" fillColour="#eee" >
      <div >checkerplate. checkerplate.checkerplate.</div> 
    </app-frame-text>
  </div>

  <div style="height:40vh" >
    <app-frame-text    fillType="cogs" fillSize="30"
      radius="1"  strokeWidth="0.6" strokeColour="#000" fillColour="#f00" > 
      <div >cogs. cogs.cogs.</div> 
    </app-frame-text>    
  </div>

</div>
 -->
<!--
<div style="font-family: 'Vast Shadow';padding:0vh; position:relative; width:100%; height:10vh">
   
<app-corrie-text text="A quiz game for those who... just aren't sure"   
  vbHeight="5" vbWidth="100" 
  radius="1"  strokeWidth="0.6" strokeColour="#000" fillColour="#fff"
  fontSize="0.15" fontSizeUnit="vw"  >          
</app-corrie-text> 
</div>  -->


  <!--  
  <button (click)="incScore(1)"  >Inc score</button>
  <button (click)="incScore(10)"  >Inc score 10</button>
  <app-score [score]="vizData.score"  >
  </app-score>
-->

<!--   -->

<!--  
<hr>
 
<div style="padding:4vh; position:relative; width:40vw; height:40vh">
  <app-flourish-text flourishStyle="nice"  > 
    It's a quiz game where the answers are always a number.   
  </app-flourish-text>
</div> -->

<!---->
<hr>
<div style="width:100%">  
  <app-dormant-page [vizData]="vizDataDormant" >  </app-dormant-page>
</div>

<hr>
<div style="width:100%">  
  <app-demo-page [vizData]="vizDataDemo" >  </app-demo-page>
</div>

<hr>
<div style="width:100%">  
  <app-intro-page [vizData]="vizData" >  </app-intro-page>
</div>
 
<!-- -->
<hr>

<hr>
<!-- -->


<div style="width:100%">  
  <app-authentication-page  [vizData]="vizData" >  </app-authentication-page>
</div>



<hr>
<div style="width:100%">  
  <app-pregame-page  [vizData]="vizData" >  </app-pregame-page>
</div>


<hr>
<!-- -->
<div style="width:100%">  
  <app-playing-page  [vizData]="vizData">
  </app-playing-page>
</div>
 

<hr>
<div style="width:100%">  
  <app-final-page  [vizData]="vizData" >  </app-final-page>
</div>



  <!-- 
  <app-footer></app-footer>
    -->
</div>
  
  
  








  


